
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Borrar Books</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-ation="Delete">
                <input type="hidden" asp-action="id" />
                <div asp-Validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Title)
                    @Html.TextBoxFor(Model => Model.Title)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Description))
                    @Html.TextBoxFor(Model => Model.Description)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.PageCount)
                    @Html.TextBoxFor(Model => Model.PageCount)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Excerpt)
                    @Html.TextBoxFor(Model => Model.Excerpt)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.PublishDate)
                    @Html.TextBoxFor(Model => Model.PublishDate)
                </div>

                <div class="form-group">
                    <input type="submit" value="Eliminar Libro" class="btn btn-primary" />
                </div>

                @if (ViewBag.Error != null)
                {
                    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Error");
            };
                    </script>
                }

            </form>
        </div>
    </div>



</div>
<!--Final del formulario-->
